[MAIN]

# Add files or directories matching the regular expressions patterns to the
# ignore-list. The regex matches against paths and can be in Posix or Windows
# format. Because '\\' represents the directory delimiter on Windows systems,
# it can't be used as an escape character.
ignore-paths=^docs/.*$,
             ^dist/.*$,
             ^tests/cad/.*$,
             ^tests/filetypes/.*$,
             ^tests/geometry/test_circle.py$,
             ^tests/geometry/test_circular_arc.py$,
             ^tests/geometry/test_coincident.py$,
             ^tests/geometry/test_coordinate_system.py$,
             ^tests/geometry/test_distance.py$,
             ^tests/geometry/test_ellipse.py$,
             ^tests/geometry/test_extrude.py$,
             ^tests/geometry/test_feature_system.py$,
             ^tests/geometry/test_horizontal.py$,
             ^tests/geometry/test_line_segment.py$,
             ^tests/geometry/test_shared_geometry.py$,
             ^tests/geometry/test_sketch.py$,
             ^tests/geometry/test_sketch_geometry_system.py$,
             ^tests/geometry/test_spatial_relations.py$,
             ^tests/geometry/test_storage.py$,
             ^tests/geometry/test_vertical.py$,
             ^tests/svg/.*$,
             ^tests/utils/.*$,
             ^tests/testing_utils/.ipynb_checkpoints/.*$,
             ^tests/testing_utils/sketch_gen.py$,

[DESIGN]

# Maximum number of arguments for function / method.
max-args=7

# Maximum number of positional arguments for function / method.
max-positional-arguments=7

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=self.spherical.r,
                  self.spherical.phi,
                  self.spherical.theta,
                  self.polar.r,
                  self.polar.phi,
                  freecad.open,
                  freecad.DocumentObject
                  freecad.Document,
                  freecad.Placement,
                  freecad.newDocument,
                  freecad.Vector,
                  freecad.Units