[MAIN]

# Add files or directories matching the regular expressions patterns to the
# ignore-list. The regex matches against paths and can be in Posix or Windows
# format. Because '\\' represents the directory delimiter on Windows systems,
# it can't be used as an escape character.
ignore-paths=docs,dist,tests

[DESIGN]

# Maximum number of arguments for function / method.
max-args=7

# Maximum number of positional arguments for function / method.
max-positional-arguments=7

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=self.spherical.r,
                  self.spherical.phi,
                  self.spherical.theta,
                  self.polar.r,
                  self.polar.phi,
                  freecad.open,
                  freecad.DocumentObject
                  freecad.Document,
                  freecad.Placement,
                  freecad.newDocument,
                  freecad.Vector,
                  freecad.Units